Flask==2.3.3
Flask_Cors==4.0.0
GitPython==3.1.31 
networkx==3.1
pandas==2.0.1
pathpy2==2.2.0
bleach==4.1.0
gambit_disambig==1.0.3
lizard==1.17.10
numpy==1.24.3
PyDriller==2.1
pytest==7.4.0
python_Levenshtein==0.21.0
scipy==1.10.1
tqdm==4.65.0
